<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.koreait.projectE.dao.BoardDAO">
	<select id="DepartView" resultType="com.koreait.projectE.dto.DepartmentDTO">
		SELECT * 
		FROM DEPARTMENT_INFO 
		WHERE DSAUP_NO=#{dSaup_no}
	</select>
	
	<update id="DepartRatingUpdate">
		UPDATE DEPARTMENT_INFO 
		SET DRATING=(SELECT NVL(AVG(RPOINT),0) FROM REVIEW WHERE DSAUP_NO =#{dSaup_no}) 
		WHERE DSAUP_NO=#{dSaup_no}  
	</update>
	
	<select id="reviewList" resultType="com.koreait.projectE.dto.ReviewDTO">
		SELECT  r.RNO,r.RPOINT,r.RDEPTH,r.REPORTCOUNT,c.CPOTO,c.CNICKNAME,r.RTITLE,r.RCONTENT,r.RPOTO,r.RWRITER_DATE,r.RAPPOINTMENT 
		FROM REVIEW r,CUSTOMER c 
		WHERE  r.DSAUP_NO=#{dSaup_no} and r.CNO=c.cno 
		ORDER BY r.RNO DESC
	</select>
	
	<update id="UpdateHit">
		UPDATE DEPARTMENT_INFO 
		SET DHIT =DHIT+1 
		WHERE DSAUP_NO=#{dSaup_no}
	</update>
	
	<select id="menuList" resultType="com.koreait.projectE.dto.MenuDTO">
		SELECT * 
		FROM MENU_INFO 
		WHERE DSAUP_NO=#{dSaup_no}
	</select>
	
	<select id="appointmentCount" resultType="int">
		SELECT COUNT(*) AS count 
		FROM APPOINTMENT WHERE DSAUP_NO=#{dSaup_no}
	</select>
	
	<select id="getSide_list" parameterType="String" resultType="com.koreait.projectE.dto.DepartmentDTO">
		SELECT * 
		FROM DEPARTMENT_INFO
		 WHERE DADDRESS LIKE '%' || #{param1} || '%' AND NOT DNAME=#{param2} AND DACCPET =1  ORDER BY DRATING DESC
	</select>
	
	
	<select id="reviewAll" resultType="com.koreait.projectE.dto.ReviewDTO">
		SELECT r.RNO,r.RPOINT,r.RDEPTH,r.REPORTCOUNT,c.CPOTO,c.CNICKNAME,r.RTITLE,r.RCONTENT,r.RPOTO,r.RWRITER_DATE,r.RAPPOINTMENT
		FROM REVIEW r,CUSTOMER c 
		WHERE  RAPPOINTMENT >= 0 AND DSAUP_NO=#{dSaup_no} AND r.CNO=c.CNO
	</select>
	<select id="reviewAp" resultType="com.koreait.projectE.dto.ReviewDTO">
		SELECT r.RNO,r.RPOINT,r.RDEPTH,r.REPORTCOUNT,c.CPOTO,c.CNICKNAME,r.RTITLE,r.RCONTENT,r.RPOTO,r.RWRITER_DATE,r.RAPPOINTMENT
		FROM REVIEW r,CUSTOMER c 
		WHERE  RAPPOINTMENT > 0 AND DSAUP_NO=#{dSaup_no} AND r.CNO=c.CNO
	</select>
	<select id="reviewNp" resultType="com.koreait.projectE.dto.ReviewDTO">
		SELECT r.RNO,r.RPOINT,r.RDEPTH,r.REPORTCOUNT,c.CPOTO,c.CNICKNAME,r.RTITLE,r.RCONTENT,r.RPOTO,r.RWRITER_DATE,r.RAPPOINTMENT
		FROM REVIEW r,CUSTOMER c 
		WHERE  RAPPOINTMENT = 0 AND DSAUP_NO=#{dSaup_no} AND r.CNO=c.CNO
	</select>
	<select id="reivewDetail" resultType="com.koreait.projectE.dto.ReviewDTO">
		SELECT  r.RNO,r.RPOINT,r.RDEPTH,r.REPORTCOUNT,c.CPOTO,c.CNICKNAME,r.rTITLE,r.RCONTENT,r.RPOTO,r.RWRITER_DATE,r.RAPPOINTMENT,
		r.DSAUP_NO 
		FROM REVIEW r,CUSTOMER c 
		WHERE  r.CNO=c.CNO AND r.RNO=#{rNo}
	</select>
	
</mapper>